.plane * {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.plane {
    block-size: border-box;
    position: relative;
    top:0;
    left: 0;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

.plane > .controllers {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.plane > .controllers > .prev-button-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15%;
    width: 30%;
    height: 600px;
    transition: 1s;
}


.plane > .controllers > .prev-button-wrapper:hover {
    left: 0px;
}


.plane > .controllers > .prev-button-wrapper > .prev-button {
    display: inline-block;
    border-radius: 50%;
    background-image: url("previous.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.plane > .controllers > .next-button-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15%;
    width: 30%;
    height: 600px;
    transition: 1s;
}


.plane > .controllers > .next-button-wrapper:hover {
    right: 0px;
}


.plane > .controllers > .next-button-wrapper > .next-button {
    display: inline-block;
    border-radius: 50%;
    background-image: url("next.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translate(+50%,-50%);
}